@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activate</title>
</head>
<body>
<div>
    啟動失敗<br/>
    原因：@Model
</div>
<script>
    setTimeout(function() {
        location.href = '@Url.Action("Index", "Home")';
    }, 5000)
</script>
</body>
</html>
